<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Electron Project</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
</head>
<body>
    <div class="row">
        <div id="price-container">
            <p class="subtext">Current BTC USD</p>
            <h1 id="price">Loading....</h1>
        </div>
        <div id="goal-container">
            <p><img src="../../assets/img/up.svg" alt=""><span id="targetPrice"> Choose a Target Price</span></p>
        </div>
        <div id="right-container">
            <button id="notifyBtn">Notify Me when...</button>
        </div>
    </div>
    <script src="../js/index.js" type="text/javascript"></script>
</body>
</html>
